* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.75;
}

:root {
    --main-color: #000;
    --second-color: #fff;
    --third-color: #303841;
    --favorite-color: #0f1644;
    --hover-color: #999;
    --scrolled-bar-color: 255, 255, 255;
    --scrolled-bar-shadow-color: 0, 0, 0;
    --text-dark-color: #000;
    --text-bright-color: #fff;
    --btn-color: #222;
    --btn-hover-color: #fc6a03;
    --btn-shadow-color: 255, 255, 255;
    --mouse-color: #fff;
    --span-color: #aaa;
}

body {
    background-color: var(--main-color);
    font-family: Jost;
    position: relative;
}

header {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    transition: 200ms ease-in-out;
    z-index: 10;
}

#navbar > a {
    padding: 2.15vh 4vh;
    text-decoration: none;
    color: var(--second-color);
}

#navbar > a:hover {
    color: var(--hover-color);
}

.scrolled {
    background-color: rgba(var(--scrolled-bar-color), 0.5);
    box-shadow: 0 4px 10px rgba(var(--scrolled-bar-shadow-color), 0.1);
}

.items-scrolled {
    color: var(--text-dark-color) !important;
}

.items-scrolled:hover {
    color: var(--hover-color) !important;
    transition: 0.3s;
}

.scrolled-img {
    filter: invert(1);
}

section {
    padding-top: 9vh;
    height: 100vh;
}

.decoration-btn {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--text-bright-color);
    background: var(--btn-color);
    color: var(--text-bright-color);
    transition: 0.2s ease;
    position: relative;
}

.btn-dec {
    font-size: 1.5rem;
    color: var(--text-dark-color);
}

.decoration-btn:hover, .decoration-btn:hover .btn-dec{
    translate: 10px 0;
    color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
}

@keyframes blink-cursor {
    0% {
        opacity: 0;
    }
}

#home-object h1::after {
    content: "";
    width: 5px;
    height: 6rem;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--second-color);
    animation: blink-cursor 1s steps(2) infinite;
}

#welcome-section {
    background-image: url(Photo/Jame.JPG);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 80% 40%;
}

.box-object {
    font-size: 2.25rem;
}

.box-object > h1 {
    font-size: 5rem;
}

#home-object {
    color: var(--text-bright-color);
    margin: 10% 0 0 10%;
    width: 60%;
    background-color: transparent;
}

#skills {
    background-color: var(--second-color);
    background-image: url(Photo/blackDrip.PNG), url(Photo/JameGrad.JPG);
    background-repeat: no-repeat;
    background-size: 100%, 40%;
    background-position: 0% 0%, 2% 70%;
    height: auto;
}

#skills-object {
    background-color: transparent;
    margin: 0 0 0 45%;
    width: 50%;
    font-size: 2rem;
}

.skill-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.language-logo {
    font-size: 3rem;
}

.html5 {
    color: #e34c26;
}

.css3 {
    color: #264de4;
}

.js-sq {
    color: #f0db4f;
}

.python {
    color: #4b8bbe;
}

.skill-describe {
    margin-left: 10px;
    font-size: 1rem;
    color: var(--span-color);
}

.skill-container {
    width: 90%;
    font-size: 1.5rem;
    background-color: #ccc;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

.skill-exp {
    text-align: right;
    border-radius: inherit;
}

.html {
    width: 20%;
    background-color: #e34c26;
}

.css {
    width: 20%;
    background-color: #264de4;
}

.js {
    width: 15%;
    background-color: #f0db4f;
}

.py {
    width: 15%;
    background-color: #4b8bbe;
}

.other {
    color: var(--third-color);
}

#project {
    background-color: var(--third-color);
    height: auto;
}

#project-object {
    text-align: center;
}

#project-object > h1 {
    color: var(--text-bright-color);
}

.project-showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    padding: 5%;
    margin: 0 auto;
}

.project-tile {
    margin: 1%;
    width: 100%;
    padding: 10%;
    border: 0 solid;
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--btn-color);
    transition: 0.25s ease;
}

.project-tile > h3 {
    color: var(--text-bright-color);
    font-size: 1.25rem;
    margin: 2% auto;
}

.project-tile .btn-dec {
    color: var(--btn-color);
    transition: 0.25s linear;
}

.project-tile:hover {
    transform: translate(-5px, -5px);
    width: 105%;
    height: auto;
    box-shadow: 0 0 10px 10px rgba(var(--btn-shadow-color), 0.2);
}

.project-tile:hover .btn-dec {
    color: var(--btn-hover-color);
}

.project-pic-cover {
    width: 100%;
    height: auto;
    margin-bottom: 1%;
    box-shadow: 5px 5px 10px rgba(var(--btn-shadow-color), 0.3);
}

#contact {
    background-color: var(--favorite-color);
}