* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.75;
}

:root {
    --main-color: #000;
    --second-color: #fff;
    --third-color: #303841;
    --favorite-color: #0f1644;
    --hover-color: #fc6a03;
    --scrolled-bar-color: 255, 255, 255;
    --scrolled-bar-shadow-color: 0, 0, 0;
    --text-dark-color: #000;
    --text-bright-color: #fff;
    --btn-color: #222;
    --btn-hover-color: #fc6a03;
    --btn-shadow-color: 255, 255, 255;
    --mouse-color: #fff;
    --span-color: #aaa;
}

body {
    background-color: var(--main-color);
    font-family: Jost;
    position: relative;
}

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: var(--main-color);
    transition: 300ms ease;
}

.loading-page.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.loading-page svg {
    width: 100%;
    height: 100vh;
}

.loading-page textPath {
    font-size: 0.8rem;
}

.loading-page path {
    transform: translate(50%, 50%);
}

.loading-circle {
    animation: loadingRotate 6s linear infinite;
}

@keyframes loadingRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

header {
    font-size: 1.5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    transition: 200ms ease-in-out;
    z-index: 1;
}

header nav{
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    width: 1000px;
}

#navbar > a {
    text-decoration: none;
    color: var(--second-color);
    transition: 300ms ease;
}

#navbar > a:hover {
    color: var(--hover-color);
    transform: translate(5px, 5px);
}

.scrolled {
    background-color: rgba(var(--scrolled-bar-color), 0.5);
    box-shadow: 0 4px 10px rgba(var(--scrolled-bar-shadow-color), 0.1);
}

.items-scrolled {
    color: var(--text-dark-color) !important;
}

.items-scrolled:hover {
    color: var(--hover-color) !important;
    transition: 0.3s;
}

.scrolled-img {
    filter: invert(1);
}

section {
    padding-top: 9vh;
    height: 100vh;
}

#header-logo img {
    height: 5rem; 
    width: auto; 
    margin: 3vh auto 1rem auto;
}

.decoration-btn {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--text-bright-color);
    background: var(--btn-color);
    color: var(--text-bright-color);
    transition: 0.2s ease;
    position: relative;
}

.btn-dec {
    font-size: 1.5rem;
    color: var(--btn-color);
}

.decoration-btn:hover, .decoration-btn:hover .btn-dec{
    translate: 10px 0;
    color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
}

@keyframes blink-cursor {
    0% {
        opacity: 0;
    }
}

#home-object h1::after {
    content: "";
    width: 5px;
    height: 6rem;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--second-color);
    animation: blink-cursor 1s steps(2) infinite;
}

#welcome-section {
    background-image: url(Photo/Jame.JPG);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 80% 40%;
}

.box-object {
    font-size: 2.25rem;
}

.box-object > h1 {
    font-size: 5rem;
}

#home-object {
    color: var(--text-bright-color);
    margin: 10% 0 0 10%;
    width: 60%;
    background-color: transparent;
}

#skills {
    background-color: var(--second-color);
    background-image: url(Photo/blackDrip.PNG), url(Photo/JameGrad.JPG);
    background-repeat: no-repeat;
    background-size: 100%, 40%;
    background-position: 0% 0%, 2% 70%;
    height: auto;
}

#skills-object {
    background-color: transparent;
    margin: 0 0 0 45%;
    width: 50%;
    font-size: 2rem;
}

.skill-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.language-logo {
    font-size: 3rem;
}

.html5 {
    color: #e34c26;
}

.css3 {
    color: #264de4;
}

.js-sq {
    color: #f0db4f;
}

.python {
    color: #4b8bbe;
}

#skill-describe {
    margin-left: 10px;
    font-size: 1rem;
    color: var(--span-color);
}

.skill-container {
    width: 90%;
    font-size: 1.5rem;
    background-color: #ccc;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-exp {
    border-radius: inherit;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.html {
    width: 20%;
    background-color: #e34c26;
}

.css {
    width: 20%;
    background-color: #264de4;
}

.js {
    width: 15%;
    background-color: #f0db4f;
}

.py {
    width: 15%;
    background-color: #4b8bbe;
}

.other {
    color: var(--third-color);
}

#project {
    background-color: var(--third-color);
    background-image: url(Photo/backgroundPaper2.PNG);
    background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    height: auto;
}

#project-object {
    text-align: center;
    padding-bottom: 5%;
}

#project-object > h1 {
    margin-top: 5%;
    color: var(--text-bright-color);
}

.project-showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    padding: 5%;
    margin: 0 auto;
}

.project-tile {
    margin: 1%;
    width: 100%;
    padding: 10%;
    border: 0 solid;
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--btn-color);
    transition: 0.25s ease;
}

.project-tile > h3 {
    color: var(--text-bright-color);
    font-size: 1.25rem;
    margin: 2% auto;
}

.project-tile .btn-dec {
    color: var(--btn-color);
    transition: 0.25s linear;
}

.project-tile:hover {
    transform: translate(-5px, -5px);
    width: 105%;
    height: auto;
    box-shadow: 0 0 10px 10px rgba(var(--btn-shadow-color), 0.2);
}

.project-tile:hover .btn-dec {
    color: var(--btn-hover-color);
}

.project-pic-cover {
    width: 100%;
    height: auto;
    margin-bottom: 1%;
    box-shadow: 5px 5px 10px rgba(var(--btn-shadow-color), 0.3);
}

.modal {
    background: linear-gradient( 35deg, 
    rgba(14, 49, 96, 0.5),
    rgba(169, 36, 32, 0.5));
    position: fixed;
    max-width: 80%;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 0.1rem solid var(--second-color);
    border-radius: 2rem;
    box-shadow: 0 0 10px 10px rgba(var(--btn-shadow-color), 0.2);
    z-index: 4;
    color: var(--text-bright-color);
    transition: 200ms ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--second-color);
    padding: 0.5rem 3rem;
}

.modal-header > h2 {
    font-size: 2.5rem;
    margin: auto auto;
}

.modal-body {
    display: block;
    text-align: center;
    padding: 1rem;
}

.modal-body > p {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body > h1 {
    display: flex;
    justify-content: center;
}

.modal-gif {
    width: 70%;
    height: auto;
    border-radius: 1rem ;
    box-shadow: 0 0 10px 5px rgba(var(--scrolled-bar-shadow-color), 0.1);
}

.close-btn {
    border: none;
    background-color: transparent;
    font-size: 3rem;
    cursor: pointer;
    color: var(--second-color);
}

#overlay {
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--scrolled-bar-color), 0.8);
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
    transition: 200ms ease-in-out;
}

.modal-btn {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--text-bright-color);
    background: transparent;
    color: var(--text-bright-color);
    transition: 0.2s ease;
}

.modal-btn:hover{
    translate: 10px 0;
    background: linear-gradient( 35deg, 
    rgba(14, 49, 96, 0.5),
    rgba(169, 36, 32, 0.5));
    cursor: pointer;
}

#contact {
    background-color: var(--favorite-color);
    color: var(--text-bright-color);
    background-image: url(Photo/JameAnime.PNG), url(Photo/Contact.PNG);
    background-repeat: no-repeat;
    background-size: 25%, 100%;
    background-position: 95% 0%, 0% 0%;
    height: auto;
}

#contact-object {
    text-align: center;
    padding-top: 10%;
    width: 100%;
    height: 100%;
}

#contact-object h3 {
    font-size: 2rem;
}

#contact-list {
    margin: 2rem auto;
    max-width: 80%;
    width: 800px;
    display: flex;
    justify-content: space-around;
}

#contact-list a i {
    color: var(--text-bright-color);
    font-size: 3rem;
    margin: 5rem 0;
    transition: 300ms ease;
}

#contact-list a i:hover {
    color: var(--hover-color);
    transform: translate(10px, 10px);
}

.credit-bottom {
    background-color: var(--main-color);
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.credit-bottom > p {
    font-size: 1.25rem;
}

@media (max-width: 1500px) {
    .project-tile > h3 {
        font-size: 1rem;
    }
}

@media (max-width: 1400px) {
    .box-object > h1 {
        font-size: 4rem;
    }

    .decoration-btn {
        padding: 0.75rem;
    }

    .skill-set {
        font-size: 1.5rem;
    }
}

@media (max-width: 1290px) {
    .skill-container {
        font-size: 1rem;
    }

    .project-tile > h3 , .project-tile h3 span{
        font-size: 0.9rem;
    }
}

@media (max-width: 1209px){
    .project-tile > h3 , .project-tile h3 span{
        font-size: 1.25rem;
    }

    #contact-object h3 {
        font-size: 1.5rem;
    }

    .language-logo {
        font-size: 2.25rem;
    }
}

@media (max-width: 1190px) {
    .project-tile > h3 , .project-tile h3 span{
        font-size: 1rem;
    }

    #skill-describe {
        font-size: 0.5rem;
    }

    .skill-set {
        font-size: 1.25rem;
    }
}

@media (max-width: 990px){
    .box-object > h1 {
        font-size: 3rem;
    }
    
    #home-object h3 {
        font-size: 2rem;
    }

    .project-tile > h3 , .project-tile h3 span{
        font-size: 0.9rem;
    }
    .credit-bottom > p {
        font-size: 1rem;
    }
}

@media (max-width: 920px) {
    #welcome-section {
        background-size: 90%;
        background-position: 300% 40%;
    }
    
    .skill-container, #skill-describe{
        display: none;
    }

    #skills-object {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    .skills-set-all {
        display: flex;
        justify-content: space-around;

    }

    #skills-object label {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
    }

    #skills-object label i {
        font-size: 5rem;
    }

    #skills {
        background-color: var(--second-color);
        background-image: url(Photo/blackDrip.PNG);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 0%;
        height: auto;
    }
}

@media (max-width: 880px){
    .project-tile > h3 , .project-tile h3 span{
        font-size: 0.7rem;
    }
}

@media (max-width: 782px){
    .project-tile > h3 , .project-tile h3 span{
        font-size: 1.5rem;
    }

    .box-object > h1 {
        font-size: 2.5rem;
    }
    
    #home-object h3 {
        font-size: 1.5rem;
    }

    .decoration-btn{
        font-size: 1.5;
    }
    #contact-object h3 {
        font-size: 1rem;
    }

    .modal-header > h2 {
        font-size: 2rem;
    }
    
    .modal-body > p {
        font-size: 1rem;
    }
}

@media (max-width: 620px){
    .project-tile > h3 , .project-tile h3 span{
        font-size: 1.5rem;
    }

    .box-object > h1 {
        font-size: 2rem;
    }

    .decoration-btn{
        font-size: 1;
        padding: 0.5rem;
    }
    #contact-object h3 {
        font-size: 1rem;
    }
}

@media (max-width: 580px){
    .skill-set, .skill-set i{
        font-size: 2rem;
        flex-direction: column;
    }
}

@media (max-width: 500px){
    .box-object > h1 {
        font-size: 2.5rem;
    }
    
    #home-object h3 {
        font-size: 1.5rem;
    }

    #welcome-section {
        background-size: 180%;
        background-position: 50% 50%;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    #home-object {
        margin: auto auto;
        width: 90%;
        height: 80%;
        position: relative;
        text-align: center;
    }

    #home-object button {
        bottom: 0;
        position: absolute;
    }

    .modal-header > h2 {
        font-size: 1.75rem;
    }
    
    .modal-body > p {
        font-size: 0.8rem;
    }

    .credit-bottom > p {
        font-size: 0.8rem;
    }

    .project-tile > h3 , .project-tile h3 span{
        font-size: 1rem;
    }

    #header-logo img {
        height: 3rem;
        width: auto;
    }

    header {
        font-size: 1rem;
    }
}

@media (max-width: 350px){
    .box-object > h1 {
        font-size: 2rem;
    }
    
    #home-object h3 {
        font-size: 1rem;
    }
    #home-object {
        height: 70%;
    }

    #home-object button, #home-object button span {
        font-size: 1rem;
    }

    .skill-set, .skill-set i{
        font-size: 1rem;
    }

    #skills-object label {
        font-size: 1rem;
    }
    #skills-object label i{
        font-size: 4rem;
    }
    #contact-list a i {
        font-size: 2rem;
    }
}